.ibent-shousai {
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}
.ibent-shousai1 {
  margin-top: 5rem;
}
.text {
  width: 50%;
}
.text-item {
  margin: 1rem 5rem;
}
.image {
  width: 50%;
  text-align: center;
}
.image-item {
  object-fit: cover;
  width: 8rem;
  height: 8rem;

}
main {
  font-size: 24px;
}
.ibent-shousai2 {
  display: flex;
  flex-direction: row-reverse;
}
.ibent-item {
  width: 40vw;
  background-size: contain;
}


@media (max-width: 480px) {
  /* スマホ版_以下遷移画面の設定 */
  .ibent-shousai {
    display: block;
    margin: 1rem;
  }
  .text {
    width: 100%;
  }
  .text-item {
    margin: 1rem 1rem;
  }
  .image {
    width: 100%;
  }
  .image-item {
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    opacity: 0;
  }
  .ibent-item {
    width: 80vw;
    margin: auto;
  }
  /* イベント画面の画像設定 */
  .ibent-item {
    opacity: 0;
  }

}