/* ヘッダーの設定 */
.kyoutu-header {
  width: 100%;
  height: 10rem;
  background-color: #fae212;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 女沼のささらとは共通設定 */
/* ヘッダー */
.sasara-header {
  background-color: #efb782;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
