.odori-midashi{
  margin:3rem
}

.odori-button-waku{
  display: flex;
  justify-content: space-around;
}

.odori-botton{
  width: 10rem;
  height: 5rem;
  background-color:#fae212;
  color: black;
}

@media (max-width: 480px){
  .odori-button-waku{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    
  }

}

