.shousai {
  display: flex;
  margin-bottom: 3rem;
}
.text {
  width: 70%;
}
.text-item {
  margin: 1rem 5rem;
}
.image {
  width: 30%;
}
.image-item {
  object-fit: cover;
  width: 8rem;
  height: 8rem;
}
main {
  font-size: 23px;
}
