/* 女沼のささらとは共通設定 */
/* ヘッダー */
.sasara-header {
  background-color: #efb782;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sasara-main {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
}
.sasara-btn {
  background-color: #fae212;
  width: 13rem;
  height: 7rem;
  font-size: 1.2rem;
}
.midashi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.midashi-item {
  margin: 1rem;
}
/* 以下遷移画面の設定 */
.shousai {
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}
.shousai1 {
  margin-top: 5rem;
}
.text {
  width: 50%;
}
.text-item {
  margin: 1rem 5rem;
}
.image {
  width: 50%;
}
.image-item {
  object-fit: cover;
  width: 8rem;
  height: 8rem;
  opacity: 0;
}
main {
  font-size: 24px;
}
.shousai2 {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 480px) {
  .sasara-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .sasara-btn {
    margin: 1rem 0;
  }
  /* スマホ版_以下遷移画面の設定 */
  .shousai {
    display: block;
    margin: 1rem;
  }
  .text {
    width: 100%;
  }
  .text-item {
    margin: 1rem 1rem;
  }
  .image {
    width: 100%;
  }
  .image-item {
    object-fit: cover;
    width: 8rem;
    height: 8rem;
  }
}
