.shousai-title {
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
  border-bottom: 5px solid #fae212;
  width: fit-content;
}
.shousai-midashi {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.shousai-mikurabe {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.shousai-good-tab,
.shousai-bad-tab {
  text-align: center;
  color: white;
}
.shousai-good-tab {
  background-color: red;
}
.shousai-bad-tab {
  background-color: blue;
}
.shousai-point-title,
.shousai-point-article {
  text-align: center;
}
.shousai-point-title {
  font-weight: bold;
}
.shousai-point {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-style: solid;
  width: fit-content;
}
.shousai-img {
  width: 560px;
  height: 315px;
}
/* おどり方の基本「弓の引き方」 画像設定 */
.shousai-img-yumi img {
  aspect-ratio: 3/4;
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.shousai-kaisetsu {
  display: flex;
  justify-content: space-around;
}

.shousai-bad-yumi {
  display: flex;
}
.shousai-waku {
  position: relative;
}
.prev {
  left: -6rem;
}

.yumi-btn {
  font-size: 5rem;
  height: 6rem;
  width: 6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.shousai-kaisetsu-good,
.shousai-kaisetsu-bad {
  width: 50%;
  text-align: center;
  display: flex;
  flex-flow:column;
  justify-content: center;
}

/* ポイントに下線を引く */
.shousai-point-article {
  background: linear-gradient(transparent 70%, yellow 50%);
  display: inline;

  /* 背景の繰り返しを停止 */
  background-repeat: no-repeat;

  /* マーカーの横方向を0にして縮める */
  background-size: 0% 100%;

  /* マーカーが引かれる速度を指定 */
  transition: background-size 3.5s ease;
}

/* ポイントに下線を引く jsでonにする*/
.shousai-point-article.on {
  background-size: 100% 100%;
}
/* インジケーター */
.indicator{
  display: flex;
  justify-content: center;
}
.indicator li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  list-style: none;
  background-color: #fff;
  border: 3px #000 solid;
}
.indicator li:first-of-type {
  background-color: #000;
}

@media (max-width: 480px) {
  .shousai-mikurabe {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .shousai-iframe {
    width: 336px;
    height: 189px;
  }
}
