/* ローディングの設定 */
#loading-left,
#loading-right {
  background-color: green;
  position: fixed;
  width: 50vw;
  height: 100vh;
}

#loading-left {
  left: 0;
  transform-origin: left top;

}

#loading-right {
  right: 0;
  transform-origin: right top;
}


/* headerの設定 */
.page-title {
  text-align: center;
}


/* articleの設定 */
.article-grid {
  display: flex;
  justify-content: center;
}

.article-name {
  text-align: center;
}

.article-button {
  text-align: center;
}

/* mainの設定 */
.main {
  display: flex;
  justify-content: center;
}

/* ボタンの設定 */
button{
  background-color:green;
}
