/* ローディングの設定 */
.loading {
  background-image: url(../images/topgamen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  inset: 0;
  position: fixed;
}
/* headerの設定 */
.page-title {
  text-align: center;
}

/* mainの設定 */
.main {
  display: flex;
  justify-content: center;
}

/* ボタンの設定 */
.btn {
  background-color: #09c5ee;
  width: 10rem;
  height: 3rem;
  border-radius: 30px;
}
/* ヘッダーの設定 */
.page-header {
  width: auto;
  height: 10rem;
  background-color: #fae212;
}
/* mainの設定 */
.main {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
/* articleの設定 */
.eye {
  margin-bottom: 0;
}
.eye img {
  width: 3rem;
  height: 3rem;
}
.article-h2 {
  color: blue;
}
.message {
  text-align: center;
}
.article-grid {
  display: block;
  width: 85%;
  margin: 1rem;
  background-color: #f1fcff;
  border: 1px solid blue;
}
.article-main {
  display: grid;
  gap: 2rem 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}
.article-item {
  margin: 10px;
}
.article-button {
  text-align: center;
}
/* asideの設定 */
.aside {
  width: 15%;
  margin: 1rem;
  background-color: #fff9f9;
  border: 1px solid red;
}
.aside-h2 {
  color: red;
}
.book {
  margin-bottom: 0;
}
.book img {
  width: 3rem;
  height: 3rem;
}
li{
  list-style:none
}

/* youtube画像の設定 */
.article-iframe {
  width: 20rem;
}
